{{<partials-page}}
  {{$page-content}}
	   
  	{{#isBehaviourIssue}}
  		If you’re making a complaint about a staff member please  don’t give their name. We’ll ask for it later if necessary.  
  	{{/isBehaviourIssue}}
  	{{#isRefundIssue}}
  		<p>If you’re requesting a refund, please don’t  give out your bank details. We’ll ask for them later if necessary.</p>
  	{{/isRefundIssue}}
  	{{#isApplicationIssue}}
  		<p>Please do not provide your payment details in this form. We will collect this details at a later date if required.</p>
  	{{/isApplicationIssue}}
	 {{#fields}}
      {{#renderField}}{{/renderField}}
    {{/fields}}
    {{#input-submit}}continue{{/input-submit}}
  {{/page-content}}
{{/partials-page}}