{{<partials-page}}
  {{$page-content}}
	   
  	{{#isBehaviourIssue}}
  		If you are complaining about staff behaviour, do not tell us the names on this form. We will collect these details at a later date if required. 
  	{{/isBehaviourIssue}}
  	{{#isRefundIssue}}
  		<p>Please do not provide your payment details in this form. We will collect this details at a later date if required. </p>
  	{{/isRefundIssue}}
  	{{#isApplicationIssue}}
  		<p>Tell us what the unclear information is and include links if it is on a website.</p>
  	{{/isApplicationIssue}}
	 {{#fields}}
      {{#renderField}}{{/renderField}}
    {{/fields}}
    {{#input-submit}}continue{{/input-submit}}
  {{/page-content}}
{{/partials-page}}