{{<partials-page}}
  {{$page-content}}
    <div class="">
  		<p class="">Briefly summarise your complaint. Please do not give out bank details. We will ask for them later if necessary.</p>
    </div>
  	{{#isBehaviourIssue}}
  		If you are making a complaint about a staff member please do not give their name. We will ask for it later if necessary.  
  	{{/isBehaviourIssue}}
	 {{#fields}}
      {{#renderField}}{{/renderField}}
    {{/fields}}
    {{#input-submit}}continue{{/input-submit}}
  {{/page-content}}
{{/partials-page}}
