{{<partials-page}}
  {{$page-content}}
    
    <div class="alert-complete" role="alert">
      <div class="alert-message">
        <h1>The complaint has been sent.</h1>
      </div>
    </div>
	<p>We have sent you an email containing the information you have provided to test@gmail.com</p>

	<h2>What happens next?</h2>
	<p>Your complaint will be reviewed and a full response provided by the relevant Home Office department within 20 working days.</p>

	<p>If your complaint indicates serious professional misconduct it will be impartially investigated, which can take up to 12 weeks.</p>

	<p>What did you think of this service? (takes 30 seconds)</p>

  {{/page-content}}
{{/partials-page}}