{{<partials-page}}
  {{$page-content}}
		<p>We investigate every complaint in full, which can take up to 20 working days.</p>

		<h2>To make a complaint, you will need:</h2>
		<ul class="list list-bullet">
			<li>your name, date of birth, email address and telephone number</li>
			<li>the details of your complaint</li>
			<li>your Home Office reference details and any other references that can help with the investigation of your complaint</li>
			<li>the applicant’s name, date of birth and consent, if you’re making a complaint on behalf of someone else</li>
		</ul>
		<p>{{#input-submit}}start{{/input-submit}}</p>

		<p>If your complaint indicates serious professional misconduct, it will be impartially investigated, which can take up to 12 weeks.</p>
  {{/page-content}}
{{/partials-page}}