{{<partials-page}}
  {{$page-content}}
		<p>We investigate every complaint in full, which can take up to 20 working days.</p>

		<p>If your enquiry isn’t a complaint, you will get a quicker response if you use the more relevant service.</p>

		<h2>Don’t use this service if you:</h2>
		<ul class="list list-bullet">
			<li>want an update on your application (use the UKVI general enquiry service)</li>
			<li>want your decision to be reviewed (follow the instructions in your decision letter)</li>
			<li>want to appeal against a refusal of entry (follow the advice about UK immigration appeals)</li>
			<li>have a technical issue with your application (read the information on the Visa4UK website)</li>
		</ul>

		<p>If you're eligible for a refund, you must log in to you Visa4UK account and request your refund on the payment confirmation page.</p>

		<h2>To make a complaint, you will need:</h2>
		<ul class="list list-bullet">
			<li>your name, date of birth, email address and telephone number</li>
			<li>the details of your complaint</li>
			<li>the applicant’s name, date of birth and consent, if you’re making a complaint on behalf of someone else</li>
		</ul>
		<p>{{#input-submit}}start{{/input-submit}}</p>

		<p>If your complaint indicates serious professional misconduct, it will be impartially investigated, which can take up to 12 weeks.</p>
  {{/page-content}}
{{/partials-page}}